<%= erb :header %>

        <h2>THE CARS</h2>
        <h3 style="padding:3%;">    
                If you want to request any of the above type of vehicles, just specify so in your tweet! 
                If you don't specify a type of car you want or a number, we will usually just send one of our 2-4 seaters.
        </h3>
        <div style="width:100%;display:block;position:relative; margin:2%;">

            <div class="car-picture">
                <img src="images/1seater.jpg">
                <div class="caption">
                    <h3 style="padding:0;margin:0;">ONE SEATER</h3>
                    We have a few one-seater cars in our fleet. These small vehicles are good for the environment and a great choice if you're travelling alone.
                </div>
            </div>
            <div class="car-picture">
                <img src="images/3seater.jpg">
                <div class="caption">
                    <h3 style="padding:0;margin:0;">2-4 SEATER</h3>
                    We also have a range of slightly bigger 2-4 seater cars, perfect for you and a few others.
                </div>
            </div>
            <div class="car-picture">
                <img src="images/6seater.jpg">
                <div class="caption">
                    <h3 style="padding:0;margin:0;">5-6 SEATER</h3>
                    Our bigger cars can carry up to 6 people, and are the ideal choice for a family or group of friends that won't fit in our 2-4 seaters.
                </div>
            </div>
            <div class="car-picture">
                <img src="images/minibus.jpg">
                <div class="caption">
                    <h3 style="padding:0;margin:0;">MINIBUS</h3>
                    We also offer some minibuses if you are travelling with a larger party. These vehicles can fit up to 10 people.
                </div>
            </div>
        </div>

<%= erb :footer %>