<%= erb :header %>
        <center>
            <form class="feedback" action="" method="post">
                <label>Feedback</label>
                <input type="text" id="subject" name="subject" placeholder="Your subject..." required/>
                <textarea id="description" name="feedback" placeholder="How do you feel about your last journey?" required></textarea>
                <br>
                <input type="submit" value="Submit">
            </form>
        </center>
<%= erb :footer %>