		</main>
		<footer>
            <center>
                <div class="footerDiv">
                    <h1>TWEET-A-CAB</h1>
                    <a href="https://www.twitter.com/ise19team19">
                        <img src="images/twitter.png" class="twitterImg" \>
                    </a>  
                </div>
            </center>
		</footer>
	</body>
</html>