<%= erb :header %>

            <h1>403</h1>
            <p style="margin: 0 2vw 2vh 2vw; font-size:1.2em">
              You do not have permission to access this page.
            </p>
            <p style="margin: 0 2vw 2vh 2vw; font-size:1.2em">
              <%= @errorMessage %>
            </p>
  
<%= erb :footer %>