<%= erb :header %>
        <h1>The future of the taxi.</h1>
        <p style="display:inline-block; font-size:1.7em; margin:0 2% 0 2%; text-align: justify; text-justify: inter-word;">
        Tweet-a-Cab is a taxi service powered by Twitter. Simply tweet, mentioning our Twitter account (@ise19team19)
        for Sheffield or (@ise19team19b) for Birmingham and specify a pickup point, drop off point, and time, and we'll send a cab your way.
        Feel free to include any other requirements or details, such as type of car or number of seats, and we'll do our best to accomodate.
        </p>   		
<%= erb :footer %>